.credermain-mobiorder {
    background-color: $color-gray-10;
    border: rem(2) solid $color-gray-12;
    padding: rem(4) rem(13);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(18);
}

.credermain-mobiorder-total {
    font-family: $font-oswald;
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(34);
    color: $color-black-1;
}

.credermain-mobiorder-value {
    font-weight: 400;
    color: $color-gray-11;
}

.credermain-mobiorder-icon {
    margin-right: rem(5);
    cursor: pointer;
}

.credermain-mobiorder-detail {
    text-decoration-line: underline;
    cursor: pointer;
}

.credermain-payment-title {
    font-family: $font-oswald;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(21);
    color: $color-gray-11;
    text-transform: uppercase;
}

.credermain-payment-name {
    display: block;
    font-family: $font-oswald;
    font-size: rem(12);
    font-weight: 400;
    line-height: rem(40);
}

.credermain-payment-check {
    display: flex;
    align-items: center;
    margin-bottom: rem(10);
}

.credermain-payment-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: rem(10);
    height: rem(10);
    border: rem(1) solid $color-gray-11;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.credermain-payment-checkbox::after {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    font-size: rem(7);
    color: $color-white-1;
    display: none;
}

.credermain-payment-checkbox:checked {
    background-color: $color-black-1;
    border: rem(1) solid $color-black-1;
}

.credermain-payment-checkbox:checked {
    color: $color-black-1;
}

.credermain-payment-checkbox:checked::after {
    display: block;
}

.credermain-payment-lable {
    font-family: $font-roboto;
    font-weight: 500;
    font-size: rem(12);
    line-height: rem(20);
    color: $color-gray-11;
    margin-left: rem(10);
}

.credermain-payment-user,
.credermain-payment-address,
.credermain-payment-phone {
    display: block;
    font-family: $font-roboto;
    font-size: rem(12);
    font-weight: 400;
    line-height: rem(19);
    color: $color-gray-11;
    padding-left: rem(20);
}

.credermain-payment-address {
    width: 70%;
}

.credermain-payment-phone {
    color: $color-blue-5;
    margin-bottom: rem(25);
}

.credermain-payment-btn {
    display: flex;
    justify-content: space-between;
}

.credermain-mobiorder-btn {
    font-size: rem(14);
    font-weight: 500;
    line-height: rem(21);
    width: rem(139);
    height: rem(38);
    color: $color-white-1;
    background-color: $color-black-1;
}

.credermain-back-btn {
    font-size: rem(14);
    font-weight: 500;
    line-height: rem(21);
    text-align: right;
    width: rem(139);
    height: rem(38);
    color: $color-gray-11;
    background-color: transparent;
    border: none;
}

.credermain-payment-discount {
    font-family: $font-oswald;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(21);
    color: $color-gray-11;
    text-transform: uppercase;
    display: block;
    margin: rem(20) 0 rem(10);
}

.credermain-payment-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: rem(4);
    border: rem(1) solid $color-gray-12;
    margin-bottom: rem(40);
}

.credermain-input-code {
    height: rem(40);
    border: none;
    outline: none;
    padding-left: rem(16);
}

.credermain-input-code::placeholder {
    font-family: $font-roboto;
    font-size: rem(12);
    font-weight: 400;
    line-height: rem(20);
    color: $color-gray-12;
}

.credermain-apply-btn {
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(17);
    width: rem(90);
    border: rem(2) solid $color-gray-12;
    color: $color-gray-11;
    background-color: $color-gray-10;
}

.credermain-dskorder {
    display: none;
}

// Screen: 1920 <= width
@include mq($BREAKPOINT-DT-FULL) {
    .credermain-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: rem(40) rem(328) rem(100);
    }

    .credermain-mobiorder {
        display: none;
    }

    .credermain-payment-title {
        font-size: rem(24);
        text-transform: none;
        color: $color-black-1;
        display: inline-block;
        margin-bottom: rem(25);
    }

    .credermain-payment-name {
        font-size: rem(18);
        font-weight: 500;
        line-height: rem(24);
        color: $color-gray-11;
        margin-bottom: rem(10);
    }

    .credermain-payment-check {
        margin: 0 0 rem(5) rem(10);
    }

    .credermain-payment-lable {
        font-size: rem(14);
    }

    .credermain-payment-user,
    .credermain-payment-address,
    .credermain-payment-phone {
        font-size: rem(14);
        line-height: rem(22);
        padding-left: rem(30);
    }

    .credermain-payment-address {
        width: 78%;
    }

    .credermain-order-btn {
        width: rem(150);
        height: rem(50);
    }

    .credermain-back-btn {
        height: rem(50);
    }

    .credermain-payment-discount {
        font-size: rem(24);
        color: $color-black-1;
        text-transform: none;
        margin: rem(50) 0 rem(30);
    }

    .credermain-payment-input {
        padding-right: rem(17);
    }

    .credermain-input-code {
        height: rem(44);
        width: rem(323);
    }

    .credermain-input-code::placeholder {
        font-size: rem(16);
    }

    .credermain-apply-btn {
        font-size: rem(14);
        line-height: rem(20);
        width: rem(111);
        height: rem(44);
        border: none;
        color: $color-black-3;
        background-color: transparent;
    }

    .credermain-dskorder {
        display: block;
    }

    .credermain-dskorder-main {
        border: rem(2) solid $color-gray-12;
        background-color: $color-gray-10;
        padding: rem(31) rem(30) rem(30);
    }

    .credermain-dskorder-title {
        font-family: $font-oswald;
        font-size: rem(24);
        font-weight: 400;
        line-height: rem(40);
        padding-bottom: rem(15);
    }

    .credermain-dskorder-total {
        font-family: $font-oswald;
        font-size: rem(18);
        font-weight: 500;
        line-height: rem(24);
        color: $color-gray-11;
        padding-bottom: rem(18);
        border-top: rem(1) solid $color-gray-12;
        padding-top: rem(19);
    }

    .credermain-dskorder-subtotal,
    .credermain-dskorder-shipping,
    .credermain-dskorder-flat {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(13);
    }

    .credermain-dskorder-tmptotal {
        font-family: $font-oswald;
        font-size: rem(18);
        font-weight: 500;
        line-height: rem(24);
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(19);
    }

    .credermain-dskorder-tmpitem {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: rem(13);
        border: none;
        background-color: $color-gray-10;
        border-top: rem(1) solid $color-gray-12;
        padding-top: rem(23);
        cursor: pointer;
    }

    .credermain-dskorder-desc {
        font-family: $font-roboto;
        font-size: rem(16);
        font-weight: 400;
        line-height: rem(20);
        color: $color-black-3;
    }

    .credermain-dskorder-up,
    .credermain-dskorder-down {
        font-size: rem(12);
        color: $color-black-3;
    }

    .credermain-dskorder-down {
        display: none !important;
    }

    .credermain-dskorder-itmlist {
        display: flex;
        flex-direction: column;
        row-gap: rem(15);
        border-top: rem(1) solid $color-gray-12;
        padding-top: rem(20);
    }

    .credermain-dskorder-payment {
        font-family: $font-oswald;
        font-size: rem(24);
        font-weight: 400;
        line-height: rem(40);
        display: flex;
        justify-content: space-between;
        margin: rem(25) 0 rem(16);
    }

    .credermain-dskorder-edit {
        width: rem(24);
        height: rem(24);
        background-color: $color-blue-2;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .credermain-dskorder-penicon {
        font-size: rem(14);
    }

    .credermain-dskorder-user,
    .credermain-dskorder-address,
    .credermain-dskorder-phone,
    .credermain-dskorder-desc {
        font-family: $font-roboto;
        font-size: rem(14);
        font-weight: 400;
        line-height: rem(26);
        color: $color-gray-11;
    }

    .credermain-dskorder-address {
        width: 50%;
    }

    .credermain-dskorder-phone {
        color: $color-blue-5;
        display: inline-block;
        margin-bottom: rem(30);
    }

    .credermain-dskorder-ship {
        font-family: $font-oswald;
        font-size: rem(24);
        font-weight: 400;
        line-height: rem(40);
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(16);
    }
}
