-
    const rentalDataBanner = [
        {
            nameTitle: "Shoping without limits.",
            descTitle: "You can choose the best option for you, and it does not matter whether you are <span> in Prague or San Francisco. We will deliver your purchase anywhere! </span>",
            nameBtn: "Shop now",
            srcImg: "images/crisp/background-header.png",
            srcAlt: "background-header.png",
        },
    ]

<section class="banner-catalog">
    <div class="container banner-catalog-container">
        each item in rentalDataBanner
            +banner(item)
    </div>
</section>