<nav aria-label="Breadcrumb" class="breadcrumb">
    <div class="container breadcrumb-container">
        <ol itemscope itemtype="https://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="#" itemprop="item">
                    <span itemprop="name">Home</span>
                </a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="#" itemprop="item">
                    <span itemprop="name">Womens Dress</span>
                </a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="#" itemprop="item" aria-current="page">
                    <span itemprop="name">Best Chose</span>
                </a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</nav>