-
    const rentalDataEvaluate = [
        {
            descEvaluate: "Duties and Taxes Guaranteed",
        },

        {
            descEvaluate: "Free Express Shipping",
        },

        {
            descEvaluate: "Customer Love",
        },

        {
            descEvaluate: "Easy Returns",
        },

        {
            descEvaluate: "Secure Payment ",
        },
    ] 

<section class="evaluate">
    <div class="container evaluate-container">
        <div class="evaluate-list">
            each item in rentalDataEvaluate
                +evaluate-card(item)
        </div>
    </div>
</section>