<section class="artbanner">
    include ../home/breadcrumb
    <div class="container artbanner-container">
        <div class="artbanner-title">
            <h1 class="artbanner-content">WHAT TO WEAR TO A SUMMER WEDDING THIS YEAR?</h1>
        </div>
    </div>
</section>