<footer class="footer">
    <div class="container footer-container">
        <div class="footer-main">
            <a href="#">
                <img src="images/crisp/crisp-logo.svg" alt="crisp-logo.svg" class="footer-logo">
            </a>
            <div class="footer-features">
                <div class="footer-toggle-header">
                    <span class="footer-features-title">Features</span>
                    <div>
                        <i class="fa-sharp fa-solid fa-plus footer-toggle-up"></i>
                        <i class="fa-sharp fa-solid fa-minus footer-toggle-down"></i>
                    </div>
                </div>
                <ul class="footer-features-list footer-ul">
                    <li class="footer-li"><a href="#">Men</a></li>
                    <li class="footer-li"><a href="#">Women</a></li>
                    <li class="footer-li"><a href="#">Boys</a></li>
                    <li class="footer-li"><a href="#">Girls</a></li>
                    <li class="footer-li"><a href="#">New Arrivals</a></li>
                    <li class="footer-li"><a href="#">Shoes</a></li>
                    <li class="footer-li"><a href="#">Clothes</a></li>
                    <li class="footer-li"><a href="#">Accessories</a></li>
                </ul>
            </div>
            <div class="footer-menu">
                <div class="footer-toggle-header">
                    <span class="footer-menu-title">Menu</span>
                    <div>
                        <i class="fa-sharp fa-solid fa-plus footer-toggle-up"></i>
                        <i class="fa-sharp fa-solid fa-minus footer-toggle-down"></i>
                    </div>
                </div>
                <ul class="footer-menu-list footer-ul">
                    <li class="footer-li"><a href="#">About us</a></li>
                    <li class="footer-li"><a href="#">Contact us</a></li>
                    <li class="footer-li"><a href="#">My account</a></li>
                    <li class="footer-li"><a href="#">Orders history</a></li>
                    <li class="footer-li"><a href="#">My wishlist</a></li>
                    <li class="footer-li"><a href="#">Blog</a></li>
                    <li class="footer-li"><a href="#">Login</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <div class="footer-toggle-header">
                    <span class="footer-contact-title">Contact us</span>
                    <div>
                        <i class="fa-sharp fa-solid fa-plus footer-toggle-up"></i>
                        <i class="fa-sharp fa-solid fa-minus footer-toggle-down"></i>
                    </div>
                </div>
                <ul class="footer-contact-list footer-ul">
                    <li class="footer-contact-li footer-li">
                        <span class="footer-contact-name">Address</span>
                        <p class="footer-contact-info">123 Street name, city, England</p>
                    </li>
                    <li class="footer-contact-li footer-li">
                        <span class="footer-contact-name">Phone</span>
                        <a href="tel:08888888888" class="footer-contact-info footer-contact-phone">(123) 456-7890</a>
                    </li>
                    <li class="footer-contact-li footer-li">
                        <span class="footer-contact-name">Email</span>
                        <a href="mailto:travelulu@website.com" class="footer-contact-info footer-contact-email">Mail@example.com</a>
                    </li>
                    <li class="footer-contact-li footer-li">
                        <span class="footer-contact-name">Working days/hours</span>
                        <p class="footer-contact-info">Mon - Sun / 9:00AM - 8:00PM</p>
                    </li>
                </ul>
            </div>
            <div class="footer-social">
                <div class="footer-toggle-header">
                    <span class="footer-social-title">Follow us</span>
                    <div>
                        <i class="fa-sharp fa-solid fa-plus footer-toggle-up"></i>
                        <i class="fa-sharp fa-solid fa-minus footer-toggle-down"></i>
                    </div>
                </div>
                <ul class="footer-social-list footer-ul">
                    <li class="footer-social-li footer-li">
                        <a href="#"> 
                            <img src="images/crisp/icons/icon-facebook.svg" alt="icon-facebook.svg" class="footer-social-logo">
                        </a>
                        <span class="footer-social-name">Facebook</span>
                    </li>
                    <li class="footer-social-li footer-li">
                        <a href="#"> 
                            <img src="images/crisp/icons/icon-twitter.svg" alt="icon-twitter.svg" class="footer-social-logo">
                        </a>
                        <span class="footer-social-name">Twitter</span>
                    </li>
                    <li class="footer-social-li footer-li">
                        <a href="#"> 
                            <img src="images/crisp/icons/icon-instagram.svg" alt="icon-instagram.svg" class="footer-social-logo">
                        </a>
                        <span class="footer-social-name">Instagram</span>
                    </li>
                </ul>
            </div>
            <div class="footer-subscribe">
                <span class="footer-subscribe-title">Join us</span>
                <form class="profile-form">
                    <label for="subscribe" class="footer-subscribe-desc">Subscribe to our newsletters</label>
                    <input type="text" id="subscribe" name="subscribe" placeholder="Email Address" class="footer-subscribe-input">
                </form>
                <button type="submit" class="btn btn-subscribe">Subscribe!</button>
            </div>
        </div>
        <p class="footer-copyright">© 2019. Crisp theme Developed by Belvg</p>
    </div>
</footer>