<header class="header">
    <div class="container">
        <div class="header-container">
            <a href="#" class="header-menu-icon">
                <img src="images/crisp/icons/icon-menu.svg" alt="icon-menu.svg" class="icon-menu" />
            </a>
            <a href="#" class="header-logo">
                <img src="images/crisp/crisp-logo.svg" al t="crisp-logo.svg" class="header-logo" />
            </a>
            <ul class="header-menu-center">       
                <li class="menu-item menu-display">
                    <a href="/crisp.html" class="menu-link">Home</a>
                </li>
                <li class="menu-item menu-display"> 
                    <a href="/crisp-product.html" class="menu-link">Product detail</a>
                </li>
                <li class="menu-item menu-display">
                    <a href="/crisp-article.html" class="menu-link">Article</a>
                </li>
                <li class="menu-item menu-display">
                    <a href="/crisp-dashboard.html" class="menu-link">Dashboard</a>
                </li>
                <li class="menu-item menu-search">
                    <a href="#">
                        <img src="images/crisp/icons/icon-search.svg" alt="icon-search.svg" class="menu-search-icon" />
                    </a>
                    <a href="#" class="menu-link menu-search-link">Search</a>
                </li>
            </ul>
            <ul class="header-menu-right">
                <li class="menu-item menu-signin menu-display">
                    <a href="#" class="menu-link">Sign in</a>
                </li>
                <li class="menu-item menu-account menu-display">
                    <a href="#" class="menu-link">Create an account</a>
                </li>
                <li class="menu-item menu-heart menu-display">
                    <a href="#" class="menu-link">
                        <img src="images/crisp/icons/icons-heart.svg" alt="icons-heart.svg" class="icon-heart" />
                    </a>
                </li>
                <li class="menu-item menu-cart">
                    <a href="/crisp-create-order.html" class="menu-link menu-cart-anchor">
                        <img src="images/crisp/icons/icon-cart.svg" alt="icons-cart.svg" class="icon-cart" />
                        <span class="menu-cart-number">2</span>
                    </a> 
                    <div class="menu-cart-detail menu-display">
                        <p class="menu-cart-name">Shopping Cart</p>
                        <p class="menu-cart-price">0,00 EUR</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>