/* VARIABLES */
// colors
$color-white-1: #fff;
$color-black-1: #000;
$color-black-2: #292a2d;
$color-black-3: #3f3f3f;
$color-gray-1: #4e4b66;
$color-gray-2: #d9dbe6;
$color-gray-3: #6e7191;
$color-gray-4: #14142b;
$color-gray-5: #bdbdbd;
$color-gray-6: #c2beb6;
$color-gray-7: #f3ece2;
$color-gray-8: #aaaba7;
$color-gray-9: #f8f9fb;
$color-gray-10: #f0f2f2;
$color-gray-11: #828282;
$color-gray-12: #c4c4c4;
$color-gray-13: #3f3f3f;
$color-gray-14: #4f4f4f;
$color-purple-1: #5f2eea;
$color-purple-2: #2a00a2;
$color-purple-3: #bca4ff;
$color-purple-4: #e4daff;
$color-purple-5: #cdccff;
$color-purple-6: #666689;
$color-green-1: #24426a;
$color-green-2: #18574a;
$color-green-3: #cba13e;
$color-green-4: #2b9fa7;
$color-green-5: #e6f1fa;
$color-blue-1: #88abcb;
$color-blue-2: #e6f1fa;
$color-blue-3: #57a4eb;
$color-blue-4: #5884aa;
$color-blue-5: #0f6db1;
$color-pink-1: #facbce;
$color-pink-2: #c35c71;
$color-brown-1: #a75e5d;
$color-red-1: #971e34;
$color-red-2: #eb5757;

/* BREAKPOINT */
$BREAKPOINT-DT: 1440px;
$BREAKPOINT-DT-FULL: 1920px;
