/* VARIABLES */
/* BREAKPOINT */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}
html a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.6rem;
}
body.\--freeze {
  height: 100%;
  overflow: hidden !important;
}
html.ios body.\--freeze {
  position: fixed;
  width: 100%;
}

html[class*="--scroll-"] .\--add-fixed-border {
  border-right: 0 solid #fff;
  border-right-style: solid;
  border-right-color: #fff;
}
html.\--scroll-13 .\--add-fixed-border {
  border-right-width: 13px;
}
html.\--scroll-14 .\--add-fixed-border {
  border-right-width: 14px;
}
html.\--scroll-15 .\--add-fixed-border {
  border-right-width: 15px;
}
html.\--scroll-16 .\--add-fixed-border {
  border-right-width: 16px;
}
html.\--scroll-17 .\--add-fixed-border {
  border-right-width: 17px;
}
html.\--scroll-18 .\--add-fixed-border {
  border-right-width: 18px;
}

.hp-container {
  padding: 0 2rem;
}
@media only screen and (min-width: 992px) {
  .hp-container {
    max-width: 178.4rem;
    margin: 0 auto;
    padding: 0 5.7rem;
  }
}
@media only screen and (min-width: 992px) {
  .hp-container .row {
    margin-left: -1.3rem;
    margin-right: -1.3rem;
  }
  .hp-container .row > * {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }
}

.page-container {
  padding: 0 2rem;
}
@media only screen and (min-width: 768px) {
  .page-container {
    max-width: 170.4rem;
    margin: 0 auto;
  }
}

#wrapper {
  min-width: 100vw;
}
#wrapper .container {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 3rem;
}

body {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

@media only screen and (min-width: 1440px) {
  #wrapper .container {
    padding: 0 13.5rem;
  }
}
img {
  display: block;
  max-width: 100%;
}
img:not([src]), img[src=""] {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-family: "Open Sans";
  font-size: 3.5rem;
  line-height: 3rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 7.5rem;
    line-height: 6.5rem;
    margin-bottom: 6rem;
  }
}

p {
  font-size: inherit;
}

@media only screen and (min-width: 992px) {
  .custom-container {
    max-width: 96rem;
    padding: 0 0.5rem;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1440px) {
  .custom-container {
    max-width: 126rem;
    padding: 0 0.5rem;
  }
}
@media only screen and (min-width: 1784px) {
  .custom-container {
    max-width: 178.4rem;
    padding: 0 6rem;
  }
}

ul li {
  list-style: none;
  margin: 0;
}

.coh-column {
  padding: 0;
}

.coh-container:before,
.coh-container:after {
  content: none;
}

.coh-style-focusable-content input:focus,
.coh-style-focusable-content select:focus,
.coh-style-focusable-content textarea:focus,
.coh-style-focusable-content button:focus,
.coh-style-focusable-content a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.component-container {
  line-height: normal;
}

.ajax-progress-fullscreen {
  background-image: url("../images/icons/icon-spin.svg");
  background-size: contain;
  background-color: transparent;
  width: 10rem;
  height: 10rem;
  padding: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  #fc_frame,
#fc_frame.fc-widget-small {
    bottom: 7.5rem !important;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.align-right {
  float: none;
}
@media only screen and (min-width: 992px) {
  .align-right {
    float: right;
  }
}

.coh-wysiwyg .align-left {
  margin-right: 2rem;
}
.coh-wysiwyg .align-right {
  margin-right: 2rem;
}

.coh-wysiwyg .align-left {
  margin-right: 2rem;
}
.coh-wysiwyg .align-center img {
  margin-left: auto;
  margin-right: auto;
}
.coh-wysiwyg .coh-style-paragraph-small {
  font-size: 1.8rem;
  line-height: inherit;
  margin-bottom: 2rem;
}
.coh-wysiwyg .coh-style-pre-heading {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 400;
  display: block;
}
.coh-wysiwyg ul {
  list-style: none;
  padding: 0 0 0 2.7rem;
  margin: 1.5rem 0;
}
@media only screen and (min-width: 992px) {
  .coh-wysiwyg ul {
    margin-bottom: 1.5rem;
  }
}
.coh-wysiwyg ul li {
  list-style: none;
  position: relative;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 400;
  font-family: "Open Sans";
}
@media only screen and (min-width: 992px) {
  .coh-wysiwyg ul li {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}
.coh-wysiwyg ul li + li {
  margin-top: 0.5rem;
}
.coh-wysiwyg ul li::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background: #000;
  border-radius: 50%;
  display: inline-block;
  border-radius: 50%;
  margin-right: 2.1rem;
  vertical-align: 0.2rem;
  margin-left: -2.7rem;
}
.coh-wysiwyg ol li {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 400;
  font-family: "Open Sans";
}
@media only screen and (min-width: 992px) {
  .coh-wysiwyg ol li {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}
.coh-wysiwyg ol li + li {
  margin-top: 0.5rem;
}
.coh-wysiwyg .table-responsive {
  margin: 3rem 0;
}
.coh-wysiwyg table {
  width: 100%;
  border-spacing: 0;
  border-bottom: 0.2rem solid #000;
  margin: 0;
}
.coh-wysiwyg table td {
  border-top: 0.2rem solid #000;
  font-family: "Open Sans";
}
.coh-wysiwyg table td a {
  color: #000;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -0.1rem 0 0 #fff, inset 0 -0.2rem 0 0 #000;
          box-shadow: inset 0 -0.1rem 0 0 #fff, inset 0 -0.2rem 0 0 #000;
}
.coh-wysiwyg table th,
.coh-wysiwyg table td {
  font-size: 2rem;
  line-height: 3rem;
  padding: 2rem 1rem 2rem 0;
}
.coh-wysiwyg table p {
  line-height: inherit;
  margin: 0;
}
.coh-wysiwyg table ul {
  margin: 0;
}
.coh-wysiwyg table.Table th,
.coh-wysiwyg table.Table td {
  padding: 1rem 0.5rem;
  line-height: inherit;
}
.coh-wysiwyg h2 {
  font-size: 3.5rem;
  line-height: 3rem;
  font-family: "Open Sans";
  text-transform: uppercase;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 992px) {
  .coh-wysiwyg h2 {
    font-size: 6.5rem;
    line-height: 5.5rem;
    margin-bottom: 3.7rem;
  }
}
.coh-wysiwyg h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: "Open Sans";
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 992px) {
  .coh-wysiwyg h3 {
    font-size: 2.5rem;
    line-height: 3.3rem;
    margin-bottom: 2rem;
  }
}
.coh-wysiwyg h4 {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 992px) {
  .coh-wysiwyg h4 {
    margin-bottom: 2rem;
  }
}
.coh-wysiwyg a {
  text-decoration: none;
  color: #000;
}
.coh-wysiwyg p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-family: "Open Sans";
  font-weight: 400;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 992px) {
  .coh-wysiwyg p {
    font-size: 2rem;
    line-height: 3.2rem;
    margin-bottom: 1.6rem;
  }
}
.coh-wysiwyg video {
  height: 100%;
  width: 100%;
}
.coh-wysiwyg iframe {
  width: 100%;
}
.coh-wysiwyg sup {
  line-height: 1.8rem;
}