<section class="status">
    include ../home/breadcrumb
    <div class="container status-container">
        <div class="status-bar">
            <span class="status-shipping"><i class="fa-sharp fa-solid fa-check"></i></span>
            <span class="status-shipping-desc">Shipping</span>
        </div>
        <div class="status-bar">
            <span class="status-revpay">2</span>
            <span class="status-revpay-desc">Review & Payments</span>
        </div>
    </div>
</section>