<section class="procontents">
    <div class="container">
        <div class="procontents-container">
            //- <!-- Details -->
            <div class="procontents-category">
                <button class="procontents-category-menu">
                    <p class="menu-name">Details</p>
                    <div>
                        <i class="fa-sharp fa-solid fa-minus procontents-icon-remove "></i>
                        <i class="fa-sharp fa-solid fa-plus procontents-icon-add "></i>
                    </div>
                </button>
                <div class="procontents-list">
                  <div class="procontents-list-left">
                        <span class="procontents-list-title">About product</span>
                        <p class="procontents-list-content">Cool off this summer in the Mini Ruffle Smocked Tank Top from our very own LA Hearts. This tank features a smocked body, adjustable straps, scoop neckline, ruffled hems, and a cropped fit.</p>
                        <span class="procontents-list-title">Advantages</span>
                        <ul class="procontents-list-ul">
                            <li class="procontents-list-li">Smocked body</li>
                            <li class="procontents-list-li">Adjustable straps</li>
                            <li class="procontents-list-li">Scoop neckline</li>
                            <li class="procontents-list-li">Ruffled hems</li>
                            <li class="procontents-list-li">Cropped length</li>
                            <li class="procontents-list-li">Model is wearing a small</li>
                            <li class="procontents-list-li">100% rayon</li>
                            <li class="procontents-list-li">Machine washable</li>
                        </ul>
                        <span class="procontents-list-title">Advantages</span>
                        <ul class="procontents-list-ul">
                            <li class="procontents-list-li">Smocked body</li>
                            <li class="procontents-list-li">Adjustable straps</li>
                            <li class="procontents-list-li">Scoop neckline</li>
                        </ul>
                  </div>
                  <div class="procontents-list-right">
                        <span class="procontents-list-title">Shipping</span>
                        <p class="procontents-list-content">We offer Free Standard Shipping for all orders over $75 to the 50 states and the District of Columbia. The minimum order value must be $75 before taxes, shipping and handling. Shipping fees are non-refundable.                    </p>
                        <p class="procontents-list-content">Please allow up to 2 business days (excluding weekends, holidays, and sale days) to process your order.                    </p>
                        <p class="procontents-list-content">Processing Time + Shipping Time = Delivery Time</p>
                  </div>
                </div>
            </div>
            //- <!-- Orther Infomation -->
            <div class="procontents-category">
                <button class="procontents-category-menu">
                    <p class="menu-name">Orther Infomation</p>
                    <div>
                        <i class="fa-sharp fa-solid fa-minus procontents-icon-remove"></i>
                        <i class="fa-sharp fa-solid fa-plus procontents-icon-add"></i>
                    </div>
                </button>
            </div>
            //- <!-- Another Tab -->
            <div class="procontents-category">
                <button class="procontents-category-menu">
                    <p class="menu-name">Another Tab</p>
                    <div>
                        <i class="fa-sharp fa-solid fa-minus procontents-icon-remove"></i>
                        <i class="fa-sharp fa-solid fa-plus procontents-icon-add"></i>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>