-
    const rentalDatarentalDataPreProduct = [
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "-30% ",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "card-price-sale",
            priceOld: "119,00 EUR",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "-30% ",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "card-price-sale",
            priceOld: "119,00 EUR",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
    ]

<section class="prorecommend">
    <div class="container prorecommend-container">
        <div class="prorecommend-header">
            <p class="prorecommend-title">You May Also Like</p>
            <div class="prorecommend-directions">
                <button class="prorecommend-btn prorecommend-btn-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="prorecommend-btn prorecommend-btn-right">
                    <i class="fa-sharp fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="prorecommend-list">
            each item in rentalDatarentalDataPreProduct
                +product-card(item)
        </div>
    </div>
</section>