extends _layouts/layout-crisp

block append vars
  - title = $translator.home ? $translator.home.title : "Crisp";

block container
  include ./$components/crisp/home/banner-catalog
  include ./$components/crisp/home/breadcrumb
  include ./$components/crisp/home/product-main
  include ./$components/crisp/home/evaluate