extends _layouts/layout-crisp

block append vars
  - title = $translator.home ? $translator.home.title : "Crisp";

block container
    include ./$components/crisp/dashboard/dsbmain
    include ./$components/crisp/home/evaluate