extends _layouts/layout-e-commerce

block append vars
  - title = $translator.home ? $translator.home.title : "Home";

block container
  //- .page-container
  //-   +breadcrumb([{text: "Home"}])
  include ./$components/e-commerce/home
  //- p(style="margin-bottom: 120px")
