-
    const rentalDataProduct1 = [
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "-30% ",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "card-price-sale",
            priceOld: "119,00 EUR",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "-30% ",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "card-price-sale",
            priceOld: "119,00 EUR",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "-30% ",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "card-price-sale",
            priceOld: "119,00 EUR",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "-30% ",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "card-price-sale",
            priceOld: "119,00 EUR",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "-30% ",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "card-price-sale",
            priceOld: "119,00 EUR",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "-30% ",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "card-price-sale",
            priceOld: "119,00 EUR",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },

        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "-30% ",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "card-price-sale",
            priceOld: "119,00 EUR",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
    ]

    const rentalDataProduct2 = [
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "-30%",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "card-price-sale",
            priceOld: "119,00 EUR",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
        
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
        
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
        
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
        
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
        
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
        
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "-30%",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "card-price-sale",
            priceOld: "119,00 EUR",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
        
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
        
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
        
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
        
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
        
        {
            srcImage: "images/crisp/item-2.png",
            altImage: "images/crisp/item-2.png",
            discount: "",
            category: "Top women",
            desc: "Angels malu zip jeans slim black used",
            price: "139,00 EUR",
            priceSale: "",
            priceOld: "",
            colorAttribute1: "color1",
            colorAttribute2: "color2",
            colorAttribute3: "color3",
        },
    ]

    const rentalDataBannerProduct = [
        {
            nameTitle: "Shoping without limits.",
            descTitle: "You can choose the best option for you, and it does not matter whether you are <span> in Prague or San Francisco. We will deliver your purchase anywhere! </span>",
            nameBtn: "Shop now",
            srcImg: "images/crisp/background-banner-product.png",
            srcAlt: "background-banner-product.png",
        },
    ]

<section class="product">
    <div class="product-container">
        <button class="product-filter">
            <div class="product-filter-price">
                <span class="product-filter-select">Price (High to low)</span>
                <div>
                    <i class="fa-sharp fa-solid fa-chevron-up product-filter-up"></i>
                    <i class="fa-sharp fa-solid fa-chevron-down product-filter-down"></i>
                </div>
            </div>
            <div class="product-filter-size">
                <span class="product-filter-select">48</span>
                <div>
                    <i class="fa-sharp fa-solid fa-chevron-up product-filter-up"></i>
                    <i class="fa-sharp fa-solid fa-chevron-down product-filter-down"></i>
                </div>
            </div>
        </button>
        <div class="product-list">
            each item in rentalDataProduct1
                +product-card(item)
        </div>
        <div class="product-banner">
            each item in rentalDataBannerProduct
                +banner(item)
        </div>
        <div class="product-list">
            each item in rentalDataProduct2
                +product-card(item)
        </div>
    </div>
</section>