<section class="dasbmain">
    include ../home/breadcrumb
    include ../common/quickcontact
    <div class="container">
        <span class="dsbmain-title">My Dashboard</span>
        <div class="dsbmain-container">
            <div class="dsbmain-toggle">
                <div class="dsbmain-toggle-header">
                    <p class="dsbmain-toggle-select">Account Dashboard</p>
                    <div>
                        <i class="fa-sharp fa-solid fa-chevron-up dsbmain-toggle-up"></i>
                        <i class="fa-sharp fa-solid fa-chevron-down dsbmain-toggle-down"></i>
                    </div>
                </div>
                <ul class="dsbmain-menu-ul">
                    <li class="dsbmain-menu-li">Account Information</li>
                    <li class="dsbmain-menu-li">Address Book</li>
                    <li class="dsbmain-menu-li">My Orders</li>
                    <li class="dsbmain-menu-li">My Wishlist</li>
                    <li class="dsbmain-menu-li">Newsletter Subscriptions</li>
                </ul>
            </div>
            <div class="dsbmain-dashboard">
                <div class="dsbmain-info">
                    <span class="dsbmain-info-title">Account Information</span>
                    <div class="dsbmain-info-main">
                        <div class="dsbmain-info-contact">
                            <span class="info-contact-title">Contact Information</span>
                            <p class="info-contact-name">Alex Driver</p>
                            <p class="info-contact-email">ExampeAdress@gmail.com</p>
                            <span class="info-contact-edit">Edit</span>
                            <span class="info-contact-change">Change Password</span>
                        </div>
                        <div class="dsbmain-info-news">
                            <span class="info-news-title">Newsletters</span>
                            <p class="info-news-desc">You don't subscribe to our newsletter.</p>
                            <span class="info-news-edit">Edit</span>
                        </div>
                    </div>
                </div>
                <div class="dsbmain-address">
                    <span class="dsbmain-address-title">Address Book<span class="dsbmain-address-edit"><i class="fa-solid fa-pencil"></i></span></span>
                    <div class="dsbmain-address-main">
                        <div class="dsbmain-address-billing">
                            <span class="address-billing-title">Default Billing Address</span>
                            <p class="address-billing-desc">You have not set a default billing address.</p>
                            <span class="address-billing-edit">Edit Address</span>
                        </div>
                        <div class="dsbmain-address-shipping">
                            <span class="address-shipping-title">Default Shipping Address</span>
                            <p class="address-shipping-desc">You have not set a default shipping address.</p>
                            <span class="address-shipping-edit">Edit Address</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>